{% extends "base.html" %}
{% block title %}Proveedores{% endblock %}

{% block content %}

{% set puede_crear = current_user.is_authenticated and current_user.has_permission('proveedores.crear') %}
{% set puede_editar = current_user.is_authenticated and current_user.has_permission('proveedores.editar') %}
{% set puede_eliminar = current_user.is_authenticated and current_user.has_permission('proveedores.eliminar') %}


<!-- HEADER -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold mb-0">
        <i class="bi bi-people"></i> Proveedores
    </h3>

    {% if puede_crear %}
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevoProveedor">
        <i class="bi bi-plus-circle"></i> Nuevo Proveedor
    </button>
    {% endif %}
</div>

<!-- TABLA -->
<div class="card">
    <div class="card-body p-0">

        <div class="table-responsive">
            <table class="table table-hover mb-0 datatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Dirección</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for u in lista %}
                    <tr>
                        <td>{{ u.id }}</td>
                        <td class="fw-semibold">{{ u.nombre }}</td>
                        <td>{{ u.telefono }}</td>
                        <td>{{ u.direccion }}</td>

                        <td class="text-center">

                            {% if puede_editar %}
                            <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                data-bs-target="#modalEditar{{ u.id }}">
                                <i class="bi bi-pencil"></i>
                            </button>
                            {% endif %}

                            {% if puede_eliminar %}
                            <form method="POST" action="{{ url_for('proveedores_eliminar', id=u.id) }}"
                                style="display:inline;">
                                <button type="button" class="btn btn-sm btn-danger"
                                    onclick="confirmarEliminacion(this.closest('form'))">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

<!-- ================= MODALES EDITAR ================= -->
{% for u in lista %}
<div class="modal fade" id="modalEditar{{ u.id }}" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <form method="POST" action="{{ url_for('proveedores_editar', id=u.id) }}">

                <div class="modal-header">
                    <h5 class="modal-title">Editar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label>Proveedor</label>
                        <input type="text" name="nombre" class="form-control" value="{{ u.nombre }}">
                    </div>

                    <div class="mb-3">
                        <label>Telefono</label>
                        <input type="text" name="telefono" class="form-control" value="{{ u.telefono }}">
                    </div>
                    <div class="mb-3">
                        <label>Dirección</label>
                        <input type="text" name="documento" class="form-control" value="{{ u.direccion }}">
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Guardar</button>
                </div>

            </form>

        </div>
    </div>
</div>
{% endfor %}

<!-- ================= NUEVO CLIENTE ================= -->
{% if puede_crear %}
<div class="modal fade" id="modalNuevoProveedor" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <form method="POST" action="{{ url_for('proveedores_nuevo') }}">

                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Proveedor</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Telefono</label>
                            <input type="number" name="telefono" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Dirección</label>
                        <input type="text" name="direccion" class="form-control">
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Guardar</button>
                </div>

            </form>

        </div>
    </div>
</div>
{% endif %}

<script>
    $('.datatable').DataTable({
    language: {
        emptyTable: "No hay proveedores"
    }
});
</script>

{% endblock %}